.place__title {
  grid-area: title;
  color: white;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  max-width: 460px;
  min-width: 288px;
  margin: 0 0 48px;
  padding: 0;
  align-self: end;
  box-sizing: border-box;
}

@media all and (max-width:1024px) {
  .place__title {
    max-width: 440px;
  }
}

@media all and (max-width:860px) {
  .place__title {
    max-width: 370px;
    font-size: 60px;
  }
}

@media all and (max-width:768px) {
  .place__title {
    font-size: 42px;
    line-height: 110%;
    margin: 0 0 40px;
  }
}

@media all and (max-width:320px) {
  .place__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 109%;
    margin: 0 auto 32px;
  }
}
