.place__image {
  grid-area: image;
  max-width: 460px;
  width: 100%;
  object-fit: contain;
}

@media all and (max-width:1024px) {
  .place__image {
    max-width: 440px;
  }
}

@media all and (max-width:860px) {
  .place__image {
    max-width: 370px;
  }
}

@media all and (max-width:768px) {
  .place__image {
    max-width: 340px;
    margin: 0 auto;
  }
}

@media all and (max-width:680px) {
  .place__image {
    max-width: 320px;
    padding-bottom: 32px;
    margin: 0;
  }
}

@media all and (max-width:320px) {
  .place__image {
    margin: 0 auto;
  }
}

/*указывал ширину картинки в пикселях, чтобы не вылезала за пределы экрана вплоть до 320 пикселей. На разрешении 670 пикселей убрал маржин ауто,
чтобы блоки встали к левому краю, а не посередине*/
