.lead {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 984px;
}

@media all and (max-width:1024px) {
    .lead {
        max-width: 90.625%;
    }
}

@media all and (max-width:768px) {
    .lead {
        max-width: 768px;
    }
}

@media all and (max-width:320px) {
    .lead {
        max-width: 90%;
    }
}
/*указал ширину для монитора в пикселях, остальное в процентах. На разрешении 768 пикселей так не получилось, поскольку картинка должна быть шире, чем остальные элементы,
поэтому указал в пикселях. */
