.footer__link {
  text-decoration: none;
  color: white;
  opacity: 1;
  transition: opacity 0.6s ease;
  font-weight: normal;
  font-size: 16px;
  line-height: 112%;
}

.footer__link:hover {
  opacity: 0.8;
}

@media all and (max-width:680px) {
  .footer__link {
    font-size: 20px;
    line-height: 100%;
  }
}

@media all and (max-width:320px) {
  .footer__link {
    font-size: 24px;
  }
}

/*уменьшил текст два раза, чтобы выглядело симпатичнее на разрешениях меньше 670*/
