.intro {
    display: flex;
    flex-direction: column;
    max-width: 984px;
    padding-top: 92px;
    box-sizing: border-box;
    align-items: flex-start;
    margin: 0 auto;
}

@media all and (max-width:1024px) {
    .intro {
        margin-left: 4.7%;
    }
}

@media all and (max-width:768px) {
    .intro {
        padding-top: 88px;
        max-width: 93.75%;
        margin: 0 auto;
    }
}

@media all and (max-width:320px) {
    .intro {
        padding-top: 64px;
        max-width: 90%;
    }
}

/*задал максимальную ширину в пикселях для десктопа, дальше в процентах высчитывал по пропорции самостоятельно, получилось резиново*/
