.cover {
  position: relative;
  margin: 0 auto;
  padding: 0;
  max-width: 1184px;
  min-height: 200px;
}


@media all and (max-width:1024px) {
  .cover {
    max-width: 1024px;
  }
}

@media all and (max-width:768px) {
  .cover {
    max-width: 768px;
  }
}

@media all and (max-width:320px) {
  .cover {
    max-width: 320px;
  }
}

/*блок-микс с __background, заданы только отступы, позиция для ссылки и затемнения*/
