.footer {
  max-width: 1184px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 92px 0 24px;
  box-sizing: border-box;
}

@media all and (max-width:1024px) {
  .footer {
    max-width: 90.625%;
    margin: 0 auto;
  }
}

@media all and (max-width:768px) {
  .footer {
    max-width: 93.75%;
    padding: 88px 0 0;
  }
}

@media all and (max-width:680px) {
  .footer {
    padding: 76px 0 0;
    flex-direction: column;
  }
}

@media all and (max-width:320px) {
  .footer {
    padding: 64px 0 0;
  }
}

/*ширина в процентах высчитана самостоятельно по пропорции отступов к ширине самого блока. Показалось лаконичнее чем с calc.*/
